<p id="notice"><%= notice %></p>

<% if current_user %>
  Hello, <%= current_user.name %>
  <%= link_to "Logout", logout_path %>
<% end %>

<table class="table table-bordered table-striped" id="sortable">
  <thead>
    <tr>
      <th>
        Description
      </th>
      <th>
        Complete
      </th>
      <th>
        Due On
      </th>
    </tr>
  </thead>
  <tbody>
    <% @todos.each do |todo| %>
      <tr data-item-id=<%= "#{todo.id}" %> class="item">
        <td><%= todo.text %></td>
        <td><%= todo.complete %></td>
        <td><%= todo.due_on %></td>
        <td>
          <%= link_to 'Show', todo_path(todo), :class => 'btn btn-default pull-right' %>
          <%= link_to 'Edit', edit_todo_path(todo) %>
          <%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?'} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'New Task', new_todo_path %>
